#![enable(implicit_some)]
Label (
    transform: (
        id: "paused",
        anchor: Middle,
        x: 0.0,
        y: 0.0,
        width: 200.0,
        height: 50.0,
        transparent: true,
    ),
    text: (
        font: File("font/square.ttf", Ttf, ()),
        color: (1.0, 1.0, 1.0, 1.0),
        text: "Paused",
        font_size: 25.0,
    )
)